<Page>
    <Page.actionBar>
        <ActionBar title="Ticket to Ride Scorekeeper">
            <StackLayout orientation="horizontal">
                <Label text="Ticket to Ride Scorekeeper11"
                    class="action-label"
                    verticalAlignment="middle">
                </Label>
            </StackLayout>
        </ActionBar>
    </Page.actionBar>

    <StackLayout>
        <StackLayout>
            <Label text="Enter route lengths."
                class="text-left instructions"
                marginLeft="40px"
                marginTop="50px"
                verticalAlignment="middle">
            </Label>
        </StackLayout>


    </StackLayout>
    
</Page>