<Page>

    <Page.actionBar>
        <mt-page-action-bar title="Ticket to Ride : {{ (gameProfile$ | async)?.name }}"
            buttonText="Next"
            route="/scoring-routes"
            [isEnabled]="(cacheService.playerScoreCards$ | async)?.length > 1"
            (onNavTapEmitter)="drawer.toggleDrawerState()">
        </mt-page-action-bar>
    </Page.actionBar>

    <RadSideDrawer>
        <StackLayout tkDrawerContent>
            <mt-side-drawer></mt-side-drawer>
        </StackLayout>

        <ScrollView tkMainContent>
            <StackLayout>
                <StackLayout orientation="horizontal">
                    <Label text="Select colors for the players." class="instructions"></Label>
                </StackLayout>

                <StackLayout *ngFor="let playerColor of (gameProfile$ | async)?.playerColors; let i = index">
                    <Button [text]="playerColor.name"
                        class="btn"
                        [ngClass]="notSelected: (cacheService.playerScoreCards$ | async)?.some(x => x.playerColor.name === playerColor.name)"
                        [color]="playerColor.color"
                        [backgroundColor]="playerColor.backgroundColor"
                        (tap)='selectPlayerColor(playerColor)'
                        [automationText]="playerColor.name">
                    </Button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </RadSideDrawer>
</Page>
