<Page>

    <Page.actionBar>
        <mt-page-action-bar title="Ticket to Ride : {{cacheService.gameProfile.name}}"
            buttonText="Next"
            route="/scoring-routes"
            [isEnabled]="cacheService.playerScoreCards.length > 1"
            (onNavTapEmitter)="drawer.toggleDrawerState()">
        </mt-page-action-bar>
    </Page.actionBar>

    <RadSideDrawer>
        <StackLayout tkDrawerContent>
            <mt-side-drawer></mt-side-drawer>
        </StackLayout>

        <ScrollView tkMainContent>
            <StackLayout>
                <StackLayout orientation="horizontal">
                    <Label text="Select colors for the players." class="instructions"></Label>
                </StackLayout>

                <StackLayout *ngFor="let playerColor of cacheService.gameProfile.playerColors; let i = index">
                    <Button [text]="playerColor.name"
                        class="btn"
                        [ngClass]="{ notSelected: isEnabled(playerColor.name) }"
                        [color]="playerColor.color"
                        [backgroundColor]="playerColor.backgroundColor"
                        (tap)='selectPlayerColor(playerColor)'>
                    </Button>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </RadSideDrawer>
</Page>
