<Page>
    <Page.actionBar>
        <mt-page-action-bar title="Ticket to Ride Scorekeeper" 
            buttonText="Continue"
            route="/bonus-points">
        </mt-page-action-bar>
    </Page.actionBar>

    <ScrollView>
        <StackLayout>
            <Label text="Long press (hold down the button) to subtract a route." class="instructions"></Label>

            <GridLayout *ngFor="let routeLengthPoints of dataService.getRouteLengthPointsList(); let i = index" rows="auto" columns="*" marginLeft="20px"> 
                <StackLayout orientation="horizontal" verticalAlignment="middle">
                    <Label column="0"
                        [text]="routeLengthPoints.length" 
                        paddingRight="10px"
                        paddingTop="20px"
                        verticalAlignment="middle"
                        fontSize="18">
                    </Label>

                    <GridLayout *ngFor="let playerScoreCard of cacheService.playerScoreCards; let i = index" rows="70" columns="70"> 
                        <StackLayout>
                            <Button class="btn" 
                                row="0" 
                                [text]="getRouteLengthPoints(routeLengthPoints, playerScoreCard)"
                                width="60"
                                height="60"
                                textAlignment="center"
                                [backgroundColor]="playerScoreCard.playerColor.backgroundColor" 
                                [color]="playerScoreCard.playerColor.color"
                                (touch)="onTouch($event, routeLengthPoints, playerScoreCard)">
                            </Button>
                        </StackLayout>
                    </GridLayout>
                        
                </StackLayout>
            </GridLayout> 

            <StackLayout orientation="horizontal" backgroundColor="silver" paddingLeft="85px">
                <Label *ngFor="let playerScoreCard of cacheService.playerScoreCards; let i = index"
                    [text]="cacheService.getRouteCountScore(playerScoreCard)"
                    [color]="playerScoreCard.playerColor.backgroundColor"
                    width="53"
                    height="40"
                    paddingTop="20px"
                    marginRight="52px"
                    fontSize="18"
                    textAlignment="center"
                    class="scoring-total"></Label>
            </StackLayout> 
        </StackLayout>
    </ScrollView>
</Page>