<ActionBar [title]="title">

    <NavigationButton icon="res://ic_menu" (tap)="onNavTap()" *ngIf="isNavVisible"></NavigationButton>
    <ActionItem icon="res://ic_menu" ios.position="left" (tap)="onNavTap()" *ngIf="isItemVisible"></ActionItem>

    <ActionItem orientation="horizontal">
        <StackLayout MarginRight="5">
            <Button *ngIf="route && buttonText"
                [text]="buttonText"
                class="btn btn-outline action-bar-button"
                [nsRouterLink]="[route]"
                [isEnabled]="isEnabled">
            </Button>
            <Button *ngIf="buttonText && !route"
                [text]="buttonText"
                class="btn btn-outline action-bar-button"
                (tap)="onTap()"
                [isEnabled]="isEnabled">
            </Button>
        </StackLayout>
    </ActionItem>
</ActionBar>
