<Page>
    <Page.actionBar>
        <mt-page-action-bar title="Ticket to Ride Scorekeeper" 
            buttonText="Continue"
            route="/outcome">
        </mt-page-action-bar>
    </Page.actionBar>

    <ScrollView>
        <StackLayout>
            <Label text="Manually calculate completed tickets and other points." class="instructions"></Label>

            <StackLayout *ngFor="let playerScoreCard of cacheService.playerScoreCards; let i = index" class="bonus-points-layout">
        
                <StackLayout [borderColor]="playerScoreCard.playerColor.backgroundColor">
                    <mt-input-bonus-points *ngFor="let bonusPoints of dataService.getBonusPointsDefinitions(); let i = index" 
                        [bonusPoints]="bonusPoints" 
                        [playerScoreCard]="playerScoreCard">
                    </mt-input-bonus-points>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>

</Page>