<GridLayout columns="auto, *" rows="40" paddingRight="40px">
    <Label row="0" col="0" [text]="bonusPoints.name" verticalAlignment="middle" paddingLeft="20px"></Label>
    <Switch row="0"
        col="1"
        *ngIf="bonusPoints.points"
        checked="false"
        [color]="playerScoreCard.playerColor.backgroundColor"
        backgroundColor="green" 
        offBackgroundColor="red"
        (checkedChange)="onCheckedChange($event)">
    </Switch>
    <TextField row="0"
        col="1"
        width="70"
        *ngIf="!bonusPoints.points"
        [text]="bonusPointValue"
        class="input input-border"
        keyboardType="number"
        horizontalAlignment="right">
    </TextField>
</GridLayout>