<Page>
    <Page.actionBar>
        <ActionBar>
            <mt-page-action-bar title="Ticket to Ride Scorekeeper" 
                buttonText="New Game"
                route=""
                (onTapEmitter)=newGame()>
            </mt-page-action-bar>
        </ActionBar>
    </Page.actionBar>

    <ScrollView>
        <StackLayout>
            <Label 
                *ngFor="let playerScore of scores; let i = index"
                [text]="playerScore.value" 
                [backgroundColor]="playerScore.key.backgroundColor"
                [color]="playerScore.key.color"
                [ngClass]="{'not-winner': !playerScore.key.isWinner}">
            </Label>
        </StackLayout>
    </ScrollView>
</Page>