<Page>
    <Page.actionBar>
        <ActionBar title="Ticket to Ride Scorekeeper1">
            <StackLayout orientation="horizontal">
                <Label text="Ticket to Ride Scorekeeper"
                    class="action-label"
                    verticalAlignment="middle">
                </Label>
            </StackLayout>
        </ActionBar>
    </Page.actionBar>

    <!-- TODO: add scrolling -->
    <StackLayout>
        <Label 
            *ngFor="let playerScore of scores; let i = index"
            marginLeft="40px"
            marginRight="40px"
            marginTop="50px"
            padding="20px"
            [text]="playerScore.value" 
            [backgroundColor]="playerScore.key.backgroundColor"
            [color]="playerScore.key.color"
            [ngClass]="{'not-winner': !playerScore.key.isWinner}">
        </Label>
    </StackLayout>

</Page>