<GridLayout tkDrawerContent rows="40, *" class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">
        <Label text="Game Profile"></Label>
    </StackLayout>
    <ScrollView row="1">
        <StackLayout class="sideStackLayout">
            <StackLayout *ngFor="let gameProfile of dataService.getGameProfiles(); let i = index" [ngClass]="{'selected-game': gameProfile.name === cacheService.gameProfile.name}">
                <Label [text]="gameProfile.name" class="sideLabel" (tap)="selectGame(gameProfile)"></Label>
                <!-- <StackLayout orientation="horizontal" horizontalAlignment="right" *ngIf="gameProfile.name === cacheService.gameProfile.name">
                    <Button class="btn" text="edit"></Button>
                    <Button class="btn" text="play"></Button>
                </StackLayout> -->
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>